doctype html
html
  head
    title= title
body 
    h1 Plus d'informations sur ce quai.

    table 
        tr 
            th Numéro du quai
            th Type du quai
            th Description
        tr 
            td= catway.catwayNumber
            td= catway.type
            td= catway.catwayState