doctype html
html
  head
    title= title
body 
    h1 Gestion du port de Russel

    p Bienvenue sur l'API qui permet la gestion du port de Russel.
    p Ici, vous pourrez gérer les embarquadaires et les réservations du port.
    p Veuillez-vous connecter pour avoir accés à la gestion.

    form(method="POST" action="/users/authenticate")
        fieldset
            legend Connection
            label(for="email") Nom d'utilisateur:
            input(type="text" name="email" required)
            br
            br
            label(for="password") Mot de passe:
            input(type="password" name="password" required)
            br
            br
            button(type="submit") Se connecter

    h2 Lien vers la documentation 
    a(href="../docs/index.html") Documentation